.navbar-title {
    font-size: 85px;
    margin: auto;
    font-family: 'Knewave', cursive;
    margin-left:340px;
    color: white;
}

.nav-bar {
    /*the background image should be the beautiful sea jpg*/
    background-image: url("../media/navbar-background.jpg");
}

/*not working leh*/
.signin button {
    background-color: darkblue;
    margin-left:0px;
}