.popup {
    position: fixed;
    top: 14%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #222222;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 80%;
    height: 80%;
    background-color: white;
}

.popup-inner.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}


/* Here are the 10 questions for the shark quiz(answers are 3,4,3,1,2,2,2,4,2,3)
[
    {question:"How many pounds does the great white shark weigh up to",
    answers:["66","660","6600","66000"]
    },
    {question:"How many feet does the great white shark grow up to",
    answers:["5","10","15","20"]
    },
    {question:"How many years does the great white shark live up to",
    answers:["10","20","30","40"]
    },
    {question:"Males mature earlier then females",
    answers:["True","False"]
    },
    {question:"The great white shark is the largest shark alive",
    answers:["True","False"]
    },
    {question:"Can the great white shark be kept in captivity",
    answers:["Yes","No"]
    },
    {question:"Do great white sharks chew",
    answers:["Yes","No"]
    },
    {question:"After eating a whole seal, how long can they go for food without?",
    answers:["1 week","1 month","2 months","3 months"]
    },
    {question:"Who is more dominant",
    answers:["Male","Female"]
    },
    {question:"What is the maximum length of the teeth of a great white shark",
    answers:["5.6 inches","6 inches","6.6 inches","7 inches"]
    },
]*/