.shop-cards {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: auto;
    align-items: center;
    /*gap: 7px;*/
    background-color: rgb(102, 255, 255);

}

.store-btn {
    font-size: 30px;
    margin-right: 0px;
    font-family: 'Kaushan Script', cursive;
    background-color: rgb(51, 204, 255);
    border: none;
    background-color: transparent;

}

.fish-btn {
    font-size: 70px;
    margin-left: 150px;
    margin-right: 100px;
    background-color: rgb(51, 204, 255);
    border: none;
    background-color: transparent;
    font-family: 'Kaushan Script', cursive;
}

.sharklopedia {
    font-size: 30px;
    background-color: rgb(51, 204, 255);
    border: none;
    background-color: transparent;
    font-family: 'Kaushan Script', cursive;
}

/*.buttons {
    width: 100%;
    display: flex;
    background-color: rgb(51, 204, 255);
    margin: auto;
    text-align: center;
}*/


/*not working leh*/
.Buy-btn {
    vertical-align: bottom;
}

.quiz-page {
    padding-top: 200px;
}